---
import { languages } from '@/i18n/ui';
import { getLangFromUrl, getSwitchLangUrl } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const langOptions = Object.entries(languages).filter(([l]) => lang !== l);
---

<div class="mr-4 mt-3 uppercase border px-2 border-gray-500 rounded-sm">
  <span class="font-bold" data-lang-toggle>{languages[lang]}</span>
  <ul data-lang-menu class="hidden group-hover:block lg:invisible lg:absolute lg:block lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100">
    {langOptions.map(([lang, label]) => (
      <li>
        <a href={getSwitchLangUrl(lang, Astro.url)}>{label}</a>
      </li>
    ))}
  </ul>
</div>

<script>
document.addEventListener('astro:page-load', () => {
  const button = document.querySelector('[data-lang-toggle]');
  button?.addEventListener('click', () => {
    document.querySelector('[data-lang-menu]')?.classList.toggle('hidden');
  });
});
</script>


