---
import { languages } from '@/i18n/ui';
import { getLangFromUrl, getSwitchLangUrl } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const langOptions = Object.entries(languages).filter(([l]) => lang !== l);
---

<div class="mr-4 uppercase border mt-2 lg:mt-0">
  <div class="btn btn-outline-primary btn-sm uppercase" class="font-bold" data-lang-toggle>{languages[lang]}</div>
  <ul data-lang-menu class="hidden lg:py-1 border-gray-500 rounded-sm absolute">
    {langOptions.map(([lang, label]) => (
      <li class="btn btn-outline-primary btn-sm b-0 uppercase">
        <a href={getSwitchLangUrl(lang, Astro.url)}>{label}</a>
      </li>
    ))}
  </ul>
</div>

<script>
document.addEventListener('astro:page-load', () => {
  const button = document.querySelector('[data-lang-toggle]');
  button?.addEventListener('click', (e) => {
    e.preventDefault();
    document.querySelector('[data-lang-menu]')?.classList.toggle('hidden');
  });
});
</script>


