---
import config from "@/config/config.json";
import { ui } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;

const { theme_switcher }: { theme_switcher: boolean } = config.settings;
const lang = getLangFromUrl(Astro.url);

---

<a href="/" class="navbar-brand inline-block">
  <h4>
    <div class="inline-block bg-black px-2 my-4">
      <span class="red">C</span>
      <span class="green">M</span>
      <span class="text-white">F</span>
    </div>
    <span>Palestine</span>
  </h4>
  <div class="text-sm">{ui[lang]['logo.tagline']}</div>
</a>
